.cart-total {
  position: fixed;
  bottom: 0;
  width: inherit !important;
  border-top: 1px solid rgb(128 128 128 / 34%);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-top: 24px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.cart-total h5 {
  display: inline-block;
}

.left,
.right {
  font-family: "Montserrat Bold", sans-serif !important;
}

.left {
  /* text-transform: uppercase; */
  color: var(--color-blue) !important;
}

.right {
  color: var(--color-blue) !important;
  float: right;
}
