body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(184, 198, 223) 0%, rgb(109, 136, 183) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body.home {
  overflow-x: hidden;
}

body.store {
  overflow-y: scroll;
}

.splide__track {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border-radius: 50px;
  overflow: visible !important;
  /* padding: 35px; */
  position: unset !important;
}

.splide__slide.is-active {
  margin-left: 0 !important;
  /* margin-right: 0 !important; */
}

.splide__arrow {
  transition: opacity 200ms ease-in-out;
  opacity: 0.45 !important;
}

.splide__arrow:hover {
  opacity: 1 !important;
}

.splide__arrow svg {
  fill: #ffffff !important;
}

.store-item:hover {
  transform: scale(0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  will-change: transform, box-shadow;
}

body.store .product-description {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel-container .product-description {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .shopping-cart-table */

.remove-from-cart button svg {
  width: 20px !important;
  height: 20px !important;
}

.splide__pagination__page.is-active {
  background: #3f4c63 !important;
}

.splide__pagination__page.is-active:hover {
  background: #3f4c6361 !important;
}

.splide__pagination__page:hover {
  background: #ebeff6 !important;
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination li {
  margin: 2px !important;
}

.splideSlide-right .product-image-custom {
}

.product-image-custom {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  /* height: 100%; */
  justify-content: center;
  position: relative;
  width: 400px;
  z-index: 1000;
  padding: 2em;
}
.product-image-custom img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}
.product-image-custom::before,
.product-image-custom::after {
  /* background-image: linear-gradient(-180deg, #a1deff 0%, #5ea3db 97%); */
  background-image: linear-gradient(-180deg, #fafbfd 0%, #98acce 97%);
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  transition-delay: 0.2s;
  transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}
.product-image-custom::after {
  background-image: linear-gradient(0deg, #ffcf70 0%, #ffae3d 40%);
}
.product-image-custom.active {
  animation-name: hoverPop;
  animation-duration: 0.4s;
  animation-fill-direction: forward;
}
.product-image-custom.active img {
  box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}
.product-image-custom.active::before {
  animation: slick-hover-2 3s 0.4s linear infinite;
  transform: translateY(-20px) translateX(-20px);
}
.product-image-custom.active::after {
  animation: slick-hover 3s 0.4s linear infinite reverse;
  transform: translateY(20px) translateX(20px);
}

@keyframes hoverPop {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.9);
  }
}
@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px);
  }
  16.67% {
    transform: translateY(-13px) translateX(-9px);
  }
  33.33% {
    transform: translateY(4px) translateX(12px);
  }
  50.00% {
    transform: translateY(20px) translateX(-20px);
  }
  66.67% {
    transform: translateY(-3px) translateX(8px);
  }
  83.33% {
    transform: translateY(-15px) translateX(-11px);
  }
  100.00% {
    transform: translateY(20px) translateX(20px);
  }
}
@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px);
  }
  16.67% {
    transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    transform: translateY(18px) translateX(-10px);
  }
  50.00% {
    transform: translateY(-20px) translateX(20px);
  }
  66.67% {
    transform: translateY(15px) translateX(-4px);
  }
  83.33% {
    transform: translateY(-1px) translateX(15px);
  }
  100.00% {
    transform: translateY(-20px) translateX(-20px);
  }
}

.product-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}
