body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(184, 198, 223) 0%, rgb(109, 136, 183) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.splide__track {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border-radius: 50px;
  overflow: visible !important;
  /* padding: 35px; */
  position: unset !important;
}

.splide__slide.is-active {
  margin-left: 0 !important;
  /* margin-right: 0 !important; */
}

.splide__arrow svg {
  fill: blue !important;
}

.store-item:hover {
  /* transform: scale(1.05); */
  transform: scale(0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  will-change: transform, box-shadow;
}
